# WordPress core
wp/

# Uploads
wp/wp-content/uploads/

# Plugins (descomente se quiser versionar plugins próprios)
wp/wp-content/plugins/

# Cache
wp/wp-content/cache/
wp/wp-content/upgrade/

# Env
.env

# Docker
docker-compose.override.yml

# Logs
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/
